*{
    box-sizing: border-box;
}
body{
margin: 0;
}
.nav{
    background-color:rgb(75,31,14);
    color: rgb(232,176,47);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    width: max-content;
  
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;

}
.site-title{
    font-size: 2rem;
}
.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
}
.nav li .active{
    background-color: aqua;
}
.nav li:hover{
    background-color: rgb(177, 105, 105);
}
